project:
  type: website
  output-dir: _site
  pre-render: curl https://raw.githubusercontent.com/lmu-osc/branding-resources/refs/heads/main/lmu-osc-custom.scss -o lmu-osc-custom.scss

website:
  title: "LMU Open Science Center"
  favicon: assets/img/lmu_osc_logo.jpg
  reader-mode: true
  search: true
  page-navigation: true
  repo-url: https://github.com/lmu-osc/lmu-osc.github.io
  repo-actions: [edit, issue]

  announcement: 
    icon: info-circle
    dismissable: true
    content: "**Thanks for visiting the LMU Open Science Center--our site is still under construction for now, but we'll be live soon!**"
    type: primary
    position: below-navbar

  navbar:
    title: false
    background: "#00883A"
    foreground: "#fff"
    logo: assets/img/osc_image_assets/LMU_Open_Science_Center_Logo.jpg
    collapse-below: lg
    tools: []
    left:
      - href: index.qmd
        icon: house-door
        text: Home
      - href: about/about.qmd
        icon: info-circle
        text: About
      - text: People
        icon: people
        # href: people/overview.qmd
        menu: 
          - people/management.qmd
          - people/staff.qmd
          - people/scientific-board.qmd
          - people/advisory-board.qmd
          - people/members.qmd
          - people/fellows.qmd
          - people/alumnae.qmd
      - text: Partners
        icon: boxes
        menu:
          - partners/institutional_members.qmd
          - partners/local_os_intiatives.qmd
          - partners/other_lmu_support_services.qmd
          - partners/externals.qmd
          - partners/funders.qmd
      # - sidebar:training
      - icon: mortarboard
        text: Training
        href: training.qmd
#       menu:
#         - self-training.qmd
#         - train-the-trainer.qmd
#         - open-research-cycle.qmd
      - href: events/index.qmd
        icon: calendar-event
        text: Events
    right:
      - icon: search
        aria-label: "Search"
    
  
      
  sidebar:
    - id: training
      title: "Training"
      icon: mortarboard
      style: "docked"
      background: light
      collapse-level: 2
      contents: 
        - self-training.qmd
        - train-the-trainer.qmd
        - open-research-cycle.qmd
        
    - id: partners
      title: "Partners"
      icon: boxes
      style: "docked"
      background: light
      collapse-level: 2
      contents: 
        - partners/institutional_members.qmd
        - text: "Local Open Science Initiatives"
          href: partners/local_os_intiatives.qmd
          contents:
            - text: "OSIM"
              href: partners/local_os_initiatives/osim.qmd
            - text: "OSIS"
              href: partners/local_os_initiatives/osis.qmd
            - text: "OSIP"
              href: partners/local_os_initiatives/osip.qmd
            - text: "ReproducibiliTea"
              href: partners/local_os_initiatives/reproducibilitea.qmd
            - text: "Hacky Hour"
              href: partners/local_os_initiatives/hackyhour.qmd
            - text: "Munich RSE"
              href: partners/local_os_initiatives/munich_rse.qmd
        - partners/other_lmu_support_services.qmd
        - partners/externals.qmd
        - partners/funders.qmd
  # 
  #   - id: gittutorials
  #     title: "Git Tutorials"
  #     style: "docked"
  #     background: light
  #     collapse-level: 2
  #     contents: 
  #       - qmd_one.qmd
  #       - qmd_two.qmd
  #       
  #   - id: quartotutorials
  #     title: "Quarto Tutorials"
  #     style: "docked"
  #     background: light
  #     collapse-level: 2
  #     contents: 
  #       - qmd_one.qmd
  #       - qmd_two.qmd

format:
  html:
    theme:
      - cosmo
      - lmu-osc-custom.scss
    css: 
      - https://raw.githubusercontent.com/lmu-osc/branding-resources/refs/heads/main/styles.css
      - assets/fontawesome-free-7.1.0-web/css/all.min.css
      - custom-navbar.css
      - styles.css
      - footer/footer-style.css
    toc: true
    include-in-header:
      - file: matomo_analytics.html
    include-after-body:
      - file: footer/footer.html



