project:
  type: website
  output-dir: _site
  pre-render: curl https://raw.githubusercontent.com/lmu-osc/branding-resources/refs/heads/main/lmu-osc-custom.scss -o lmu-osc-custom.scss

website:
  title: "LMU Open Science Center"
  favicon: assets/img/lmu_osc_logo.jpg
  search: true
  page-navigation: true
  repo-url: https://github.com/lmu-osc/lmu-osc.github.io
  repo-actions: [edit, issue]

  announcement: 
    icon: info-circle
    dismissable: true
    content: "**Thanks for visiting the LMU Open Science Center--our site is still under construction for now, but we'll be live soon!**"
    type: primary
    position: below-navbar

  navbar:
    title: false
    background: "#00883A"
    foreground: "#fff"
    logo: assets/img/osc_image_assets/LMU_Open_Science_Center_Logo.jpg
    collapse-below: lg
    tools: []
    left:
      - href: index.qmd
        icon: house-door
        text: Home
      - href: about/about.qmd
        icon: info-circle
        text: About
      - text: People
        icon: people
        # href: people/overview.qmd
        menu: 
          - people/management.qmd
          - people/staff.qmd
          - people/scientific-board.qmd
          - people/advisory-board.qmd
          - people/members.qmd
          - people/fellows.qmd
          - people/alumnae.qmd
      - text: Partners
        icon: boxes
        menu:
          - partners/institutional_members.qmd
          - partners/local_os_initiatives.qmd
          - partners/other_lmu_support_services.qmd
          - partners/externals.qmd
          - partners/funders.qmd
      - icon: mortarboard
        text: Training
        href: training.qmd
      - href: events/index.qmd
        icon: calendar-event
        text: Events
    right:
      - icon: search
        aria-label: "Search"
    
  
      
  sidebar:
    - id: training
      title: "Training"
      # style and background inherited by other sidebars
      style: "docked"
      background: light
      collapse-level: 2
      contents: 
        - self-training.qmd
        - open-research-cycle.qmd
        - train-the-trainer.qmd
        
    - id: partners
      collapse-level: 3
      title: "Partners"
      contents: 
        - section: "Partners"
          contents:
            - text: "Institutional Members"
              href: partners/institutional_members.qmd 
            - section: "Local Open Science Initiatives"
              href: partners/local_os_initiatives.qmd
              contents:
                - text: "OSIM"
                  href: partners/local_os_initiatives/osim.qmd
                - text: "OSIS"
                  href: partners/local_os_initiatives/osis.qmd
                - text: "OSIP"
                  href: partners/local_os_initiatives/osip.qmd
                - text: "ReproducibiliTea"
                  href: partners/local_os_initiatives/reproducibilitea.qmd
                - text: "Hacky Hour"
                  href: partners/local_os_initiatives/hackyhour.qmd
                - text: "Munich RSE"
                  href: partners/local_os_initiatives/munich_rse.qmd
            - text: "Other LMU Support Services"
              href: partners/other_lmu_support_services.qmd 
            - text: "External Partners"
              href: partners/externals.qmd 
            - text: "Funders"
              href: partners/funders.qmd


format:
  html:
    theme:
      - cosmo
      - lmu-osc-custom.scss
    css: 
      - https://raw.githubusercontent.com/lmu-osc/branding-resources/refs/heads/main/styles.css
      - assets/fontawesome-free-7.1.0-web/css/all.min.css
      - custom-navbar.css
      - styles.css
      - footer/footer-style.css
    toc: true
    include-in-header:
      - file: matomo_analytics.html
    include-after-body:
      - file: footer/footer.html



