/*-- scss:defaults --*/
// Base document colors
$navbar-bg: #009933;
$link-color: #006426;
$sidebar-hl: #006426;
$color-primary: var(--osc-accent);

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
  }

//accordion style overrides

.accordion-item > h2.accordion-header {
  padding-bottom: 0;
}

.accordion-body {
  .btn-primary {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
    transition: all 0.2s ease;

    &:hover,
    &:focus,
    &:active,
    &:active:focus {
      color: #fff ;
      background-color: $link-color !important;
      border-color: $link-color !important;
    }
  }
}

.accordion-button {
  --bs-accordion-btn-color:var(--osc-accent);
  --bs-accordion-active-color: var(--osc-accent);
  --bs-accordion-active-bg: #90a09b12;

  justify-content: center;
  position: relative;
  text-align: center;

  &::after {
    position: absolute;
    right: 1rem;
  }

  &:focus {
    box-shadow: none !important;
  }
}