<div class="people-grid">
<% for (const item of items) { %>
  <a class="people-img-link" href="<%- item.path %>" data-title="<%= item.title %>">
    <img class="people-img" src="people/<%= item.photo %>" alt="<%= item.title %>">
  </a>
<% } %>
</div>