
.osc-footer-card {
  --osc-primary-green: #00883A;
  background-color: var(--osc-primary-green);
}

.osc-footer-socials a:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
  transition: all 0.2s ease;
}


