
/* Title hover effect within training listings */
.quarto-listing-container-default .no-anchor.listing-title a {
  text-decoration: none;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
}

.quarto-listing-container-default .no-anchor.listing-title a:hover {
  color: #00883A;
  text-decoration: underline;
  text-decoration-color: #00883A;
}

#listing-listing .metadata {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#listing-listing .metadata .metadata-value.listing-type {
  font-size: 1.3em;
}