/* Local Initiatives */

.initiative-card {
  border: none;
  border-top: 4px solid var(--osc-accent);
}
.initiative-img {
  width: 50px;
  height: 50px;
}

.initiative-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initiative-card .btn.btn-primary {
  background-color: var(--osc-accent);
  border: 2px solid var(--osc-accent);
  color: white;
}
.initiative-card .btn.btn-primary:hover {
  border-color: color-mix(in srgb, var(--osc-accent) 80%, black);
  background-color: color-mix(in srgb, var(--osc-accent) 80%, black);
}


/* style for institutional members */

.member-grid-item {
  transition: transform 0.13s, box-shadow 0.13s;
  box-sizing: border-box;
  overflow: hidden;
  min-height:350px;
  background:#d2e9d61a;
}

.member-grid-item:hover {
  transform: translateY(-5px) scale(1.025);
  box-shadow: 0 8px 32px rgba(43,134,75,0.15);
  border-color: var(--osc-accent) !important;
}

.member-grid-item .card-body {
  position: relative;
  padding-bottom: 60px;
}

.website-button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.member-grid-image {
  max-width: 110px;
  min-height: 80px;
  max-height: 110px;
  object-fit: contain;
  border-radius: 0;
  margin: 0.5rem auto 0.8rem auto;
  border: none;
  box-shadow: 0 1px 6px rgba(43,134,75,0.12);
  flex-shrink: 0;
}

.social-link {     
  color: var(--osc-accent) !important;                 
  text-decoration: none;                          
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s;
}

.social-link:hover {
  background-color: #BEE3F8 !important;
  color: #fff !important;
  border-color: var(--osc-accent) !important;
  transform: translateY(-2px);
}

.contact-link {
  color: var(--osc-accent) !important;
  text-decoration: underline;
}


.description-text {
  line-height: 1.85;
  overflow: hidden;
  text-align: justify;
}

.description-text a {
  color: var(--osc-accent) !important;
}

.primary-social-link {                     
  background: var(--osc-accent) !important; 
  border: var(--osc-accent) !important; 
  color: #fff !important;               
  text-decoration: none;                          
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s;
}

.primary-social-link:hover {
  background-color: #017132 !important; 
  color: #fff !important;
  border-color: #017132  !important;
  transform: translateY(-2px);
}

.inst-member-container a.btn.btn-primary{
  background-color: var(--osc-accent);
  border: 2px solid transparent; /* prevents shifting */
  color: #fff;
  transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}

.inst-member-container a.btn.btn-primary:hover,
.inst-member-container a.btn.btn-primary:focus{
  background-color: #fff;
  color: var(--osc-accent);
  border-color: var(--osc-accent);
}